<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
      <div>
        <h3>Movie List</h3>
        <hr>
      </div>
    </div>
    <div fxFlex>
        <mat-grid-list cols="4" height="300px">
            <mat-grid-tile *ngFor="let movieDetail of movieDetails.Search">
              <img height="300px" width="300px" src={{movieDetail.Poster}} alt={{movieDetail.Title}}>
              <mat-grid-tile-footer>
                <h1> {{movieDetail.Title}} </h1>
              </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
  </div>
  